* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 40px
}

.header_wrapper {
  min-height: 95px;
  background-color: #2d303a;
  border-bottom: 5px solid #323746;
}

.header_section {
  display: flex;
  justify-content: space-between;
  align-items: baseline
}

.header_logo_link {
  display: flex;
  text-decoration: none;
}

.navigation_menu li:last-child::after {
  content: none;
}
.navigation_menu li:not(:last-child) {
  padding-right: 26px;
}

.logo_block_tagline {
  width: 110px;
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 34px;
}

.logo_block_decoration {
  color: #f06c64;
  font-size: 20px;
  font-weight: 700;
  padding-top: 34px;
}

.menu_block {
  padding-top: 34px;
}

.navigation_menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo_block {
  padding-top: 34px;
}

.menu_item {
  list-style-type: none;
}

.menu_item::after {
  content: '';
  position: absolute;
  background-color: #323746;
  width: 5px;
  height: 5px;
  border-radius: 40%;
  transform: translate(10px, 7px);
}

#home {
  color: #eb5055;
}

.menu_link {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.menu_link:hover {
  color: #eb5055;
  transition: 0.5s color;

}

.slider_wrapper {
  min-height: 600px;
  background: url('assets/img/bg_img/slider_bg.jpg')center center/cover no-repeat;
  border-bottom: 5px solid #ea676b;
}

.slider_section::before {
  content: "";
  position: absolute;
  background: url("assets/img/icon_img/left_arrow.png") center center/cover no-repeat;
  width: 16px;
  height: 27px;
  left: 0;
  top: 281px;
  cursor: pointer;
}

.slider_section::after {
  content: "";
  position: absolute;
  background: url("assets/img/icon_img/right_arrow.png") center center/cover no-repeat;
  width: 16px;
  height: 27px;
  right: 0;
  top: 281px;
  cursor: pointer;
}

.services_item_img:hover {
  transform: rotateY(180deg);
  cursor: pointer;
}

.slider_section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.vertical_mobile {
  max-width: 215px;
  height: 458px;
  padding-top: 53px;
  margin-right: 98px
}

.horizontal_mobile {
  max-width: 458px;
  height: 215px;
  padding-top: 174px;
}

.services_wrapper {
  min-height: 430px;
  background-color: #f2f2f2;
  border-bottom: 5px solid #ffffff;
  padding-bottom: 68px
}

.services_title {
  color: #666d89;
  font-size: 30px;
  font-weight: 400;
  padding-top: 67px;
  text-align: left;
  line-height: 17.86px;
}

.service_item_wrap {
  display: flex;
  justify-content: center;
  align-items: initial;
}

.services_item_img {
  width: 59px;
  height: 59px;
  border: 2px solid #666d89;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  transition: 1s transform;
}

.services_heading {
  color: #666d89;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 15px;
}

.services_item_descr {
  max-width: 220px;
  min-height: 54px;
  color: #767e9e;
  font-size: 12px;
  font-weight: 200;
  line-height: 21.56px;
}

.services_text {
  color: #767e9e;
  font-size: 18px;
  font-weight: 300;
  padding-top: 33px;
  text-align: justify;
  line-height: 30px;
}

.services_first_row {
  padding-top: 51px;
}

.services_second_row {
  padding-top: 37px;
}

.services_first_row,
.services_second_row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 320px) and (max-width: 480px) {
  .service_item_wrap {
    flex-direction: column;
    align-items: center;
  }

  .services_second_row {
    padding-top: 0;
  }

  .services_item_descr {
    padding-bottom: 20px;
    max-width: 100%;
    text-align: center;
  }
}

@media (min-width: 481px) and (max-width: 979px) {
  .service_item_wrap {
    flex-direction: column;
    align-items: end;
  }

  .services_second_row {
    padding-top: 0;
  }

  .services_item_descr {
    padding-bottom: 20px;
    max-width: 100%;
    text-align: left;
  }
}

@media (max-width: 1023px) {
  .slider_section {
    flex-direction: column;
    align-items: center;
  }

  .vertical_mobile {
    margin-right: 0;
  }

  .horizontal_mobile {
    padding-top: 0;
  }

  .vertical_mobile_img,
  .horizontal_mobile_img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  .header_section {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .menu_block {
    padding: 10px 0;
  }

  .navigation_menu {
    justify-content: center;
  }

  .menu_link {
    padding-right: 5px;
  }

  .menu_item::after {
    display: none;
  }
}