* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Lato', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1020px;
    padding: 0 40px
}

.header_wrapper {
    min-height: 95px;
    background-color: #2d303a;
    border-bottom: 5px solid #323746;
    transition: .7s ease;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header_section {
    display: flex;
    justify-content: space-between;
    align-items: baseline
}

.header_logo_link {
    display: flex;
    text-decoration: none;
}

.navigation_menu li:last-child::after {
    content: none;
}

.navigation_menu li:not(:last-child) {
    padding-right: 26px;
}

.logo_block_tagline {
    width: 110px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 34px;
}

.logo_block_decoration {
    color: #f06c64;
    font-size: 20px;
    font-weight: 700;
    padding-top: 34px;
}

.menu_block {
    padding-top: 34px;
}

.navigation_menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo_block {
    padding-top: 34px;
}

.menu_item {
    list-style-type: none;
}

.menu_item::after {
    content: '';
    position: absolute;
    background-color: #323746;
    width: 5px;
    height: 5px;
    border-radius: 40%;
    transform: translate(10px, 7px);
}

.active_link {
    color: #eb5055 !important;
}

.menu_link {
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.menu_link:hover {
    color: #eb5055;
    transition: 0.5s color;

}

.services_item_img:hover {
    transform: rotateY(180deg);
    cursor: pointer;
}

.slide_img {
    width: 100%;
    height: 600px;
}

.slider_section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.slider_nav {
    margin: 0 auto;
    max-width: 1020px;
    position: relative;
}

.arrow_left {
    position: absolute;
    background: url(../img/icon_img/left_arrow.png) center center/cover no-repeat;
    width: 16px;
    height: 27px;
    left: 0;
    bottom: 345px;
    cursor: pointer;
    margin: 15px;
}

.arrow_right {
    position: absolute;
    background: url(../img/icon_img/right_arrow.png) center center/cover no-repeat;
    width: 16px;
    height: 27px;
    right: 0;
    bottom: 345px;
    cursor: pointer;
    margin: 15px;
}

.vertical_mobile_img {
    max-width: 215px;
    height: 458px;
    top: 135px;
    left: 20%;
    position: absolute;
}

.horizontal_mobile_img {
    position: absolute;
    max-width: 458px;
    height: 215px;
    top: 255px;
    right: 23%;
}

.slide_img_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.services_wrapper {
    min-height: 430px;
    background-color: #f2f2f2;
    border-bottom: 5px solid #ffffff;
    padding-bottom: 68px
}

.services_title {
    color: #666d89;
    font-size: 30px;
    font-weight: 400;
    padding-top: 67px;
    text-align: left;
    line-height: 17.86px;
}

.service_item_wrap {
    display: flex;
    justify-content: center;
    align-items: initial;
}

.services_item_img {
    width: 59px;
    height: 59px;
    border: 2px solid #666d89;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    transition: 1s transform;
}

.services_heading {
    color: #666d89;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 15px;
}

.services_item_descr {
    max-width: 220px;
    min-height: 54px;
    color: #767e9e;
    font-size: 12px;
    font-weight: 200;
    line-height: 21.56px;
}

.services_text {
    color: #767e9e;
    font-size: 18px;
    font-weight: 300;
    padding-top: 33px;
    text-align: justify;
    line-height: 30px;
}

.services_first_row {
    padding-top: 51px;
}

.services_second_row {
    padding-top: 37px;
}

.services_first_row,
.services_second_row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio_wrapper {
    min-height: 870px;
    background-color: #2d303a;
    border-bottom: 5px solid #323746;
}

.portfolio_heading {
    padding-top: 67px;
    color: #666d89;
    font-size: 30px;
    font-weight: 900;
    text-align: left;
}

.right {
    direction: rtl;
}

.left {
    direction: ltr;
}

.portfolio_descr {
    color: #767e9e;
    font-size: 18px;
    font-weight: 300;
    padding-top: 25px;
    text-align: left;
}

.portfolio_tabs {
    display: flex;
    padding-top: 15px;
}

.portfolio_item_tab {
    margin-right: 15px;
    color: #767e9e;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #666d89;
    border-radius: 10%;
    background-color: #2d303a;
    padding: 5px;
    cursor: pointer;
    transition: .5s color;
    outline: none;
}

.portfolio_image_style {
    border: 5px solid #F06C64;
}

.active_item_tab {
    color: #DEDEDE;
    border-color: #C5C5C5;
    transition: .5s color;
}

.portfolio_item_tab:hover {
    border-color: #DEDEDE;
    color: #DEDEDE;
}

.portfolio_row {
    display: flex;
    padding-top: 17px;
    white-space: nowrap;
    overflow: hidden;
    justify-content: space-between;
}

.aboutus_wrapper {
    min-height: 738px;
    background-color: #F2F2F2;
    border-bottom: 5px solid #FFFFFF;
}

.aboutus_heading {
    padding-top: 67px;
    font-weight: 900;
    font-size: 30px;
    color: #666D89;
}

.aboutus_descr {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #767E9E;
    padding-top: 33px;
}

.team_member_section {
    display: flex;
    padding-top: 19px
}

.team_member_item {
    min-width: 331px;
    margin-right: -10px;
}

.team_member_heading {
    padding-top: 17px;
    font-weight: 900;
    font-size: 18px;
    color: #666D89;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    min-width: 0;
    text-overflow: ellipsis;
    width: auto;
    max-width: 223px;
}

.team_memeber_descr {
    padding-top: 13px;
    min-height: 32px;
    font-weight: 200;
    font-size: 12px;
    line-height: 22px;
    color: #767E9E;
}

.team_social_links {
    padding-top: 27px;
    display: flex;
    cursor: pointer;
}

.team_social_links i {
    margin-right: 5px;
    color: #767E9E;
    border: 1px solid #767E9E;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s background-color;
}

.team_social_links i:hover {
    background-color: #767E9E;
    color: #FFFFFF;
}

.fa-facebook-f::before {
    font-family: "FontAwesome";
    content: "\f39e";
    font-style: normal;
}

.fa-google-plus-g::before {
    font-family: "FontAwesome";
    content: "\f0d5";
    font-style: normal;
}

.fa-twitter::before {
    font-family: "FontAwesome";
    content: "\f099";
    font-style: normal;
}

.fa-linkedin-in::before {
    font-family: "FontAwesome";
    content: "\f0e1";
    font-style: normal;
}

.contact_wrapper {
    min-height: 648px;
    background-color: #f06c64;
    border-bottom: 7px solid #ea676b;
    ;
}

.contact_title {
    font-size: 30px;
    color: #f0d8d9;
    font-weight: 900;
    text-align: left;
    padding-top: 69px;
}

.contact_descr {
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-weight: 300;
    text-align: left;
    padding-top: 22px;
}

.contact_col {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 53px;
}

.contact_form {
    display: flex;
    flex-direction: column;
}

#name,
#email,
#subject,
#describe {
    padding-left: 17px;
    width: 619px;
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;
    border: none;
    margin-bottom: 13px;
    outline: none;
}

#describe {
    max-width: 623px;
    min-height: 205px;
}

#describe::placeholder {
    transform: translateY(-80px);
}

input[type=text] {
    color: #2d303a;
}

input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #F48C8F;
}

#submit_btn {
    width: 106px;
    height: 45px;
    background-color: #f0d8d9;
    border: 0;
    border-radius: 5px;
    color: #d6564f;
    cursor: pointer;
    margin: 0 0 13px 0;
    transition: .5s opacity;
}

input#submit_btn:hover {
    opacity: 0.7;
}

.contact_info_title {
    font-size: 18px;
    color: #f0d8d9;
    font-weight: 900;
    text-align: left;
}

.contact_info_descr {
    padding-top: 13px;
    max-width: 300px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-weight: 200;
    text-align: left;
}

.contacts {
    padding-top: 40px;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 22px;
    color: #F0D8D9;
}

.contacts a {
    text-decoration: none;
    color: #F0D8D9;
}

.contacts a:hover {
    text-decoration: underline;
}

.fade {
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    left: 0;
}

.contact_message {
    background-color: #f0d8d9;
    color: #2d303a;
    width: 50%;
    height: 50vh;
    padding: 15px;
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
}

.button_message {
    width: 80px;
    background-color: #2d303a;
    border: none;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
    color: #f0d8d9;
    cursor: pointer;
    outline: none;
}

.button_message:hover {
    opacity: 0.9;
}

.text_subject,
.text_describe {
    color: #d6564f;
}

.subject_wrapper,
.describe_wrapper {
    display: flex;
}

.copyright_text {
    display: flex;
    align-items: flex-end;
    font-weight: 200;
    font-size: 12px;
}

.copyright_text a {
    color: #666d89;
    text-decoration: none;
}

.copyright_text a:hover {
    text-decoration: underline;
}

.adress::before {
    content: url("../img/icon_img/location.png");
    padding-right: 23px;
}

.phone::before {
    content: url("../img/icon_img/contact_phone.png");
    padding-right: 19px;
}

.e_mail::before {
    content: url("../img/icon_img/mail.png");
    padding-right: 19px;
}

.footer_wrapper {
    min-height: 76px;
    background-color: #2d303a;
}

.footer_social {
    display: flex;
}

.footer_social i {
    width: 32px;
    height: 32px;
    border: 1px solid #666d89;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s background-color;
}

.footer_social i:hover {
    background-color: #666d89;
    color: #2d303a;
}

.footer_social i:not(:last-child) {
    margin-right: 10px;
}

.footer_wrapper .fa-facebook-f::before {
    font-family: "FontAwesome";
    content: "\f39e";
    font-style: normal;
}

.footer_wrapper .fa-google-plus-g::before {
    font-family: "FontAwesome";
    content: "\f0d5";
    font-style: normal;
}

.footer_wrapper .fa-twitter::before {
    font-family: "FontAwesome";
    content: "\f099";
    font-style: normal;
}

.footer_wrapper .fa-linkedin-in::before {
    font-family: "FontAwesome";
    content: "\f0e1";
    font-style: normal;
}

.footer_section {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    color: #666d89;
}


@media (min-width: 768px) {
    nav.menu_block {
        display: block !important;
    }
}

@media (max-width: 767px) {
    .header_logo_link {
        margin-left: auto;
        margin-right: auto;
    }

    .hamburger {
        display: block;
        position: fixed;
        width: 26px;
        height: 12px;
        top: 35px;
        left: 20px;
        transition: .5s transform;
    }

    .hamburger span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: white;
        margin-top: 4px;
    }

    nav.menu_block {
        display: none;
    }

    .header_wrapper_active {
        position: fixed;
        height: 100vh;
        width: 50%;
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation_menu {
        flex-direction: column;
    }

    .menu_item::after {
        display: none;
    }

    .hamburger_active {
        transform: rotate(90deg);
    }

    .header_logo_link_active {
        position: absolute;
        top: -5px;
        left: 60px;
    }
    .slides {
        position: relative;
    }
    .slide_img {
        height: auto;
    }

    .slide_img_overlay {
        top: 27%;
        width: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    .vertical_mobile_img {
        height: 185px;
        position: absolute;
        top: 50%;
        transform: translate(-30%, -50%);
    }
    .horizontal_mobile_img {
        height: 90px;
        margin-left: 3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .arrow_left {
        bottom: 110px;
    }

    .arrow_right {
        bottom: 110px;
    }

    .services_first_row,
    .services_second_row {
        flex-direction: column;
        padding-top: 0;
    }

    .services_item_img {
        width: 80px;
        height: 75px;
        margin-right: 30px;
    }

    .service_item_wrap {
        padding-top: 20px;
        justify-content: space-between;
    }

    .services_item_descr {
        max-width: 70%;
    }

    .services_text {
        text-align: inherit;
    }

    .portfolio_item_tab {
        font-size: 10px;
    }

    .portfolio_image_section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .portfolio_image_item {
        padding: 5px 5px;
    }

    .portfolio_row {
        flex-direction: column;
    }

    .portfolio_row:last-child {
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 0;
        justify-content: center;
    }

    .portfolio_image {
        width: 135px;
    }

    .team_member_item {
        padding-top: 25px;
        display: flex;
        flex-direction: column;
    }

    .aboutus_section {
        margin-bottom: 30px;
    }

    .team_member_section {
        flex-wrap: wrap;
        justify-content: center;
    }

    .team_member_item img {
        width: 100%;
        height: 100%;
    }

    .team_social_links,
    .team_memeber_descr {
        padding-top: 10px;
    }

    .contact_info_descr {
        padding-top: 0;
        max-width: 100%;
        text-align: justify;
    }

    .copyright_text {
        display: none;
    }

    .contacts {
        padding-top: 10px;
    }

    .contact_col {
        flex-direction: column;
    }

    .contact_form input {
        width: 100% !important;
    }

    .contact_info_wrap {
        margin: 20px 0;
        flex-direction: row;
    }

    .footer_section {
        justify-content: center;
    }
}

@media(min-width:515px) and (max-width: 767px) {
    .portfolio_row:last-child {
        flex-direction: column;
        padding-top: 17px;
    }
}

@media (min-width: 768px) and (max-width: 1019px) {
    nav.menu_block {
        display: block !important;
    }

    .horizontal_mobile_img {
        height: 185px;
        top: 17rem;
        right: 7%;
    }

    .vertical_mobile_img {
        height: 400px;
        top: 10rem;
        left: 15%;
    }
    img.slide_img_overlay {
        top: 40%;
        width: 55%;
    }

    .service_table {
        display: flex;
        justify-content: center;
    }

    .services_first_row,
    .services_second_row {
        flex-direction: column;
        padding-top: 30px;
        justify-content: center;
    }

    .portfolio_row {
        flex-wrap: wrap;
        justify-content: center;
    }

    .portfolio_image_section {
        display: flex;
    }

    .team_member_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 0;
    }

    .team_member_item img {
        width: 190px;
    }

    .team_member_section {
        flex-wrap: nowrap;
        justify-content: center;
    }

    .portfolio_image {
        padding-bottom: 5px;
    }

    #name,
    #email,
    #subject,
    #describe {
        width: 209%;
    }
}

@media(min-width: 1020px) and (max-width:1199px) {
    .horizontal_mobile_img {
        height: 171px !important;
    }
    .slide_img_overlay {
        top: 30%;
    }
    img.slide_img_overlay {
        width: 40%;
    }
}
@media(min-width: 1500px){
    .horizontal_mobile_img {
        right: 28%;
    }
    .vertical_mobile_img {
        left: 30%;
    }
}
@media(min-width: 1200px){
img.slide_img_overlay {
    top: 40%;
    width: 30%;
}
}

